/* Place CSS styles here */
body{
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
    background-color: rgb(255, 255, 255);
}
img{
    width: 100%;
    height: auto;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset (50%) ;
    clip-path: inset (50%);
    border: 0;
}
.main-nav{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    text-decoration-color: rgb(0, 0, 0);
    .rubik-mono-one-regular {
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
      }
      
}
.header-main{
    display: flex;
    justify-content: end;
    gap: 15px;
    color: rgb(0, 0, 0);
    rubik-mono-one-regular {
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
      }
      
      


}
.header-main p{
    margin: 0;
rubik-mono-one-regular {
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
      }
      
    font-size: 60px;
    color: rgb(0, 0, 0);
    padding-right: 700px;

}

.main-nav a{
    color: rgb(0, 0, 0);
    
}
.home-selfie{
    max-width: 250px;
    padding-left: 100px;
    padding-right: 300px;
    margin: 0%;
}
.home-text {
    display: flex;
    column-rule-width: 20px;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 200px;
}
.home-text p{
    font-size: xx-large;
    padding-left: 300px;
    color: rgb(0, 0, 0);

}
.main-nav-home a{
    color: rgb(0, 0, 0);
}
.main-nav-home{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Rubik Vinyl', cursive;
}

.header p{
    margin: 0;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
.intro-name{
    font-size: xx-large;
    color: rgb(0, 0, 0);
}

.mobile-image
{
    width: 32px;
}
.portfolio-wrapper{
    padding-top: 32px;
    border-top: 1px solid rgb(0, 0, 0)
}
.gallery-team-list {
        padding-left: 0;
        list-style-type: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
      }
      
      @media (max-width: 999px) {
        .gallery-team-list {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
            display: grid;
        }
    }
.about-wrapper{
    display: flex;
    column-rule-width: 20px;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
}
.about-text {
    gap: 20x;
    padding: 20px;
    color: rgb(0, 0, 0), 0, 0);
    padding-right: 100px;

}
.portfolio-contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.about-img{
    max-width: 50%;
    padding-left: 100px;
}
.gallery-feature-image{
    max-width: 20%;
}
.portfolio-footer {
        padding: 10px;
        margin: 10px
    
}
.hippocampus-feature-images{
    max-width: 180px;
    display: flex;
    grid-row: auto;
}
.gallery-team-list img{
 max-width: 170px;
}
.gallery-team-list a{
    color: rgb(0, 0, 0);
    
}
a:hover{
    color: rgb(231, 20, 136);
}
.gallery-feature-title{
    color: rgb(0, 0, 0);
}
.gallery-feature-description{
    color: rgb(0, 0, 0);
}
.gallery-feature-image-branding{
    max-width: 800px;
}
.gallery-feature-caption{
    color: rgb(0, 0, 0);
}
.gallery-feature-image-type{
    max-width: 600px;
}
.contact-text p{
    color: rgb(0, 0, 0);
}

   
/* Place CSS styles here */
